<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="BEE Lab Review" />
  <meta name="keywords" content="ilab, MIT, CECI, BEE Lab" />
  <meta name="author" content="CECI" />
  <meta charset="UTF-8" />
  <title>BEE Lab</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
  <link href='/styles/application.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <h1>Welcome back! Here's your data</h1>

  <form action="">
    <% index = 3 %>
    <% %w(north south east west floor ceil).each do |wall| %>
      <% %w(interior exterior).each do |location| %>
        <% id   = "cb-#{wall}-#{location}" %>
        <% name = "#{wall}-#{location}" %>
        <input type="checkbox" class="series-box" id="<%= id %>" value="<%= index + 5 %>" name="<%= name %>"/>
        <label for="<%= id %>"><%= name %></label>
        <% index += 1 %>
      <% end %>
    <% end %>
    <input type="checkbox" class="series-box" id="air-temp" checked="checked" value="2" name="External Air Temp" />
    <label for="air-temp">External Air Temp</label>
  </form>

  <div class="select-series">
    <a href='#' rel='#bee-modal'>Select Graphed Sensors</a>
  </div>

  <div id="container">Please wait while we load it. This may take a while.</div>

  <div class="modal" id="bee-modal">
    <div id="bee-room-modal">
      <% %w(north south east west floor ceil).each do |wall| %>
      <% %w(interior exterior).each do |location| %>
      <div class="sensor <%= wall %> <%= location %>" data-checkbox="cb-<%= wall %>-<%= location %>" title="<%= location %> sensor @ <%= wall %> wall">
        <%= location[0] %><%= wall[0].upcase %>
      </div>
      <% end %>
      <% end %>
    </div> <!-- End of sensors -->
    <div class="legend"></div>
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
  <script type="text/javascript" src="scripts/vendor/underscore.js"></script>
  <script type="text/javascript" src="scripts/vendor/highstock.js"></script>
  <script type="text/javascript" src="scripts/vendor/exporting.src.js"></script>
  <script type="text/javascript" src="scripts/raw_data.js"></script>
  <script type="text/javascript" src="scripts/application.js"></script>
</body>
</html>